.card{
    border-radius: 2em;
}

.shadow{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 2em;
}

.gap{
    margin: 1em;
}

.goal{
    border-radius: 2em;
}

.title{
    text-align: center;
}

.label{
    color: black;
}
.del{
    float: right;
    color: red;
}